<div class="container">
  <section class="row">
    <h2 class="c-model-heading">Service</h2>
    <div class="row c-model-add-button">
      {{#link-to 'service-fragment'}}
      <button type="button" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Service Fragment</button>
      {{/link-to}}
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title service-fragment-title text-uppercase">{{model.linetag}}</span>
        {{#link-to 'service.edit' model.id}}
          <span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span>
        {{/link-to}}
      </div>
      <div class="panel-body">
        <div class="row show">
        <label class="col-sm-2 control-label">Line Tag:</label>
          {{model.linetag}}
        </div>
        <div class="row show">
          <label class="col-sm-2 control-label">Line Speed:</label>
            {{model.lineSpeed}} Mbps
        </div>
        <div class="row show">
          <label class="col-sm-2 control-label">VLAN:</label>
            {{model.vlan}}
        </div>

        <div class="center col-md-12 no-padding">
          <h3 class="c-model-heading">Ports</h3>
          <div class="row c-model-add-button__no-margin">
            {{#link-to 'service.ports.new' model.id }}
            <button type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Port</button>
            {{/link-to}}
          </div>
        </div>
      </div>
      <table class="table table-hover number-table">
        <thead>
          <tr>
            <th>#</th>
            <th>VLAN Type</th>
            <th>Acceptable Frame Type</th>
            <th>Default VLAN</th>
            <th>VLANs</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {{#if model.ports.length}}
        {{#each port in model.ports}}
          {{#link-to 'port' port.id tagName="tr" class="number-row"}}
            <td class="number-data-column"></td>
            <td>{{port.vlanType}}</td>
            <td>{{port.acceptableFrameType}}</td>
            <td>{{port.defaultVlan}}</td>
            <td>{{port.service.vlan}}</td>
            <td>
              {{#link-to 'port.edit' port.id}}
                <span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span>
              {{/link-to}}
            </td>
          {{/link-to}}
        {{/each}}
        {{else}}
        <tr>
          <td colspan="6">
            {{alert-message alertType="alert-warning" message="There's no ports configured on this service."}}
          </td>
        </tr>
        {{/if}}
        </tbody>
      </table>
      <div class="panel-footer c-panel-footer">
        <div class="row c-panel-footer__row">
          <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#prompt-modal"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
        </div>
      </div>
    </div>
  </section>
</div>

{{prompt-modal action="removeService"}}

