<div class="container">
  <section class="row">
    <h2>Overview</h2>
    <div class="row row_element">
      <div class="col-md-2">
        Client
      </div>
      <div class="col-md-3">
        {{view "select"
          contentBinding="clients"
          optionValuePath="content"
          optionLabelPath="content.name"
          selectionBinding="client.content"
          prompt="Please Select"
          id="client-select"
        }}
      </div>
      <div class="col-md-2"></div>

      <div class="col-md-2">
        Branch Name
      </div>
      <div class="col-md-3">
        {{input value=branch id="branch-input"}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Status
      </div>
      <div class="col-md-3">
        {{view "select"
          contentBinding="statuses"
          optionValuePath="content"
          optionLabelPath="content.name"
          selectionBinding="status.content"
          prompt="Please Select"
          id="status-select"
        }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Circuit Number
      </div>
      <div class="col-md-3">
        {{input value=circuitNumber id="circuit-number-input"}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Network Operator
      </div>
      <div class="col-md-3">
        {{view "select"
          contentBinding="networkOperators"
          optionValuePath="content"
          optionLabelPath="content.name"
          selectionBinding="networkOperator.content"
          prompt="Please Select"
          id="network-operator-select"
        }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        MSAD Number
      </div>
      <div class="col-md-3">
        {{input value=msadNumber id="msad-number-input"}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Link Type
      </div>
      <div class="col-md-3">
        {{view "select"
          contentBinding="linkTypes"
          optionValuePath="content"
          optionLabelPath="content.name"
          selectionBinding="linkType.content"
          prompt="Please Select"
          id="link-type-select"
        }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Activation Date
      </div>
      <div class="col-md-3">
        <!-- make a calendar popup -->
        {{input value=activationDate id="activation-date-input"}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Sector Name
      </div>
      <div class="col-md-3">
        {{view "select"
          contentBinding="baseStationSectors"
          optionValuePath="content"
          optionLabelPath="content.name"
          selectionBinding="baseStationSector.content"
          prompt="Please Select"
          id="sector-name-select"
        }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Mac Address
      </div>
      <div class="col-md-3">
        {{input value=macAddress id="mac-address-input"}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Antenna Size
      </div>
      <div class="col-md-3">
        {{view "select"
          contentBinding="antennas"
          optionValuePath="content"
          optionLabelPath="content.size"
          selectionBinding="antenna.content"
          prompt="Please Select"
          id="antenna-size-select"
        }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Distance
      </div>
      <div class="col-md-3">
        {{input value=distance id="distance-input"}}
      </div>
    </div>

    <h3> Siebel </h3>

    <div class="row row_element">
      <div class="col-md-2">
        Solution ID
      </div>
      <div class="col-md-3">
        {{input value=solutionIdentifier}}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Billing Account
      </div>
      <div class="col-md-3">
        {{input value=billingAccount}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Service Account
      </div>
      <div class="col-md-3">
        {{input value=serviceAccount}}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Service Account Site
      </div>
      <div class="col-md-3">
        {{input value=serviceAccountSite}}
      </div>
    </div>
  </section>
</div>

<button type="button" class="btn btn-primary pull-right" {{action "updateOverview"}}>Save</button>
