<div class="container">
  <section class="row">
    <h2>Overview</h2>
    <div class="row row_element">
      <div class="col-md-2">
        Client
      </div>
      <div class="col-md-3">
        {{view "select"
          contentBinding="clients"
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selectionBinding="client.content"
          prompt="Please Select"
          id="client-select"
          class="clientlink__client"
        }}
      </div>
      <div class="col-md-2"></div>

      <div class="col-md-2">
        Branch Name
      </div>
      <div class="col-md-3">
        {{input value=branch id="branch-input" class="clientlink__branch"}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Status
      </div>
      <div class="col-md-3">
        {{view "select"
          contentBinding="statuses"
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selectionBinding="status.content"
          prompt="Please Select"
          id="status-select"
          class="clientlink__status"
        }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Circuit Number
      </div>
      <div class="col-md-3">
        {{input value=circuitNumber id="circuit-number-input" class="clientlink__circuit-number"}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Network Operator
      </div>
      <div class="col-md-3">
        {{view "select"
          contentBinding="networkOperators"
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selectionBinding="networkOperator.content"
          prompt="Please Select"
          id="network-operator-select"
          class="clientlink__network-operator"
        }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        MSAD Number
      </div>
      <div class="col-md-3">
        {{input value=msadNumber id="msad-number-input" class="clientlink__msad-number"}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Link Type
      </div>
      <div class="col-md-3">
        {{view "select"
          contentBinding="linkTypes"
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selectionBinding="linkType.content"
          prompt="Please Select"
          id="link-type-select"
          class="clientlink__link-type"
        }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Activation Date
      </div>
      <div class="col-md-3">
        <!-- make a calendar popup -->
        {{input value=activationDate id="activation-date-input" class="clientlink__activation-date"}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Sector Name
      </div>
      <div class="col-md-3">
        {{view "select"
          contentBinding="baseStationSectors"
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selectionBinding="baseStationSector.content"
          prompt="Please Select"
          id="sector-name-select"
          class="clientlink__sector-name"
        }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Mac Address
      </div>
      <div class="col-md-3">
        {{input value=macAddress id="mac-address-input" class="clientlink__mac-address"}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Antenna Size
      </div>
      <div class="col-md-3">
        {{view "select"
          contentBinding="antennas"
          optionValuePath="content.id"
          optionLabelPath="content.size"
          selectionBinding="antenna.content"
          prompt="Please Select"
          id="antenna-size-select"
          class="clientlink__antenna"
        }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Distance
      </div>
      <div class="col-md-3">
        {{input value=distance id="distance-input" class="clientlink__client"}}
      </div>
    </div>

    <h3> Siebel </h3>

    <div class="row row_element">
      <div class="col-md-2">
        Solution ID
      </div>
      <div class="col-md-3">
        {{input value=solutionIdentifier class="clientlink__solution-id"}}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Billing Account
      </div>
      <div class="col-md-3">
        {{input value=billingAccount class="clientlink__billing-account"}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Service Account
      </div>
      <div class="col-md-3">
        {{input value=serviceAccount class="clientlink__service-account"}}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Service Account Site
      </div>
      <div class="col-md-3">
        {{input value=serviceAccountSite class="clientlink__service-account-site"}}
      </div>
    </div>
  </section>
</div>

<button type="button" class="btn btn-primary pull-right qa-save" {{action "updateOverview"}}>Save</button>
