<h2 class="sub-header">Audit History</h2>

{{#data-table}}
  <table class="table table-striped display js-client-links" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Field Name</th>
        <th>Event</th>
        <th>Change From</th>
        <th>Change To</th>
        <th>Date</th>
        <th>Person</th>
    </thead>

    <tbody>

      {{#each itemController="status"}}
        <tr>
          <td>{{item_type}}</td>
          <td>{{event}}</td>
          <td>{{from}}</td>
          <td>{{to}}</td>
          <td>{{date}}</td>
          <td>{{person}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/data-table}}
