<div class="actions">
  {{#link-to 'client-link.overview'}}
    <span class="glyphicon glyphicon-eye-open js-actions view" aria-hidden="true"></span>
  {{/link-to}}
</div>

<h2 class="sub-header">Audit History</h2>

{{#data-table}}
  <table class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Event</th>
        <th>Field Name</th>
        <th>Change From</th>
        <th>Change To</th>
        <th>Date</th>
        <th>Person</th>
      </tr>
    </thead>
    <tbody>

      {{#each item in model}}
        {{#each change in item.changes}}
          <tr>
            <td>{{item.event}}</td>
            <td>{{change.field_name}}</td>
            <td>{{change.from}}</td>
            <td>{{change.to}}</td>
            <td>{{item.date}}</td>
            <td>{{item.person}}</td>
          </tr>
        {{/each}}
      {{/each}}

    </tbody>
  </table>
{{/data-table}}
