<div class="actions">
  {{#link-to 'client-link.index'}}
    <span class="glyphicon glyphicon-eye-open js-actions view" aria-hidden="true"></span>
  {{/link-to}}
  <span class="glyphicon glyphicon-trash js-actions delete" aria-hidden="true" {{action "removeClientLink"}} ></span>
  {{#link-to 'client-link.audit'}}
    <span class="glyphicon glyphicon-list-alt js-actions audit" aria-hidden="true"></span>
  {{/link-to}}
  <span class="glyphicon glyphicon-floppy-disk js-actions save" aria-hidden="true" {{action "acceptChanges"}}></span>
</div>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#site_information" aria-controls="site_information" role="tab" data-toggle="tab">Site Information</a></li>
    <li role="presentation"><a href="#siebel" aria-controls="siebel" role="tab" data-toggle="tab">Siebel</a></li>
    <li role="presentation"><a href="#rf_performance" aria-controls="rf_performance" role="tab" data-toggle="tab">RF Performance</a></li>
    <li role="presentation"><a href="#modulation" aria-controls="modulation" role="tab" data-toggle="tab">Modulation</a></li>
    <li role="presentation"><a href="#physical_ports" aria-controls="physical_ports" role="tab" data-toggle="tab">Physical Ports</a></li>
    <li role="presentation"><a href="#service_fragments" aria-controls="service_fragments" role="tab" data-toggle="tab">Service Fragments</a></li>
    <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
    <li role="presentation"><a href="#quality_assurance" aria-controls="quality_assurance" role="tab" data-toggle="tab">Quality Assurance</a></li>
    <li role="presentation"><a href="#pictures" aria-controls="pictures" role="tab" data-toggle="tab">Pictures</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="site_information">
      <div class="container">
    <!-- SECTION 1: SITE INFORMATION -->
        <section class="row">
          <h2>Site Information</h2>
          <div class="row row_element">
            <div class="col-md-2">
              Client
            </div>
            <div class="col-md-3">
              {{view "select"
                      contentBinding="clients"
                      optionValuePath="content"
                      optionLabelPath="content.name"
                      selectionBinding="client.content"
                      prompt="Please Select"
                    }}
            </div>
            <div class="col-md-2"></div>

            <div class="col-md-2">
              Branch Name
            </div>
            <div class="col-md-3">
              {{input value=branch}}
            </div>
          </div>

          <div class="row row_element">
            <div class="col-md-2">
              Status
            </div>
            <div class="col-md-3">
              {{view "select"
                      contentBinding="statuses"
                      optionValuePath="content"
                      optionLabelPath="content.name"
                      selectionBinding="status.content"
                      prompt="Please Select"
                    }}
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
              Circuit Number
            </div>
            <div class="col-md-3">
              {{input value=circuitNumber}}
            </div>
          </div>

          <div class="row row_element">
            <div class="col-md-2">
              Network Operator
            </div>
            <div class="col-md-3">
              {{view "select"
                      contentBinding="networkOperators"
                      optionValuePath="content"
                      optionLabelPath="content.name"
                      selectionBinding="networkOperator.content"
                      prompt="Please Select"
                    }}
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
              MSAD Number
            </div>
            <div class="col-md-3">
              {{input value=msadNumber}}
            </div>
          </div>

          <div class="row row_element">
            <div class="col-md-2">
              Link Type
            </div>
            <div class="col-md-3">
              {{view "select"
                      contentBinding="linkTypes"
                      optionValuePath="content"
                      optionLabelPath="content.name"
                      selectionBinding="linkType.content"
                      prompt="Please Select"
                    }}
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
              Activation Date
            </div>
            <div class="col-md-3">
              <!-- make a calendar popup -->
              {{input value=activationDate}}
            </div>
          </div>

          <div class="row row_element">
            <div class="col-md-2">
              Sector Name
            </div>
            <div class="col-md-3">
              {{view "select"
                      contentBinding="baseStationSectors"
                      optionValuePath="content"
                      optionLabelPath="content.name"
                      selectionBinding="baseStationSector.content"
                      prompt="Please Select"
                    }}
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
              Mac Address
            </div>
            <div class="col-md-3">
              {{input value=macAddress}}
            </div>
          </div>

          <div class="row row_element">
            <div class="col-md-2">
              Antenna Size
            </div>
            <div class="col-md-3">
              {{view "select"
                      contentBinding="antennas"
                      optionValuePath="content"
                      optionLabelPath="content.size"
                      selectionBinding="antenna.content"
                      prompt="Please Select"
                    }}
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
              Distance
            </div>
            <div class="col-md-3">
              {{input value=distance}}
            </div>
          </div>
        </section>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="siebel">
      <div class="container">
        <!-- SECTION 2: SIEBEL -->
        <section class="row">
          <h2> Siebel </h2>

          <div class="row row_element">
            <div class="col-md-2">
              Solution ID
            </div>
            <div class="col-md-3">
              {{input value=solutionIdentifier}}
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
              Billing Account
            </div>
            <div class="col-md-3">
              {{input value=billingAccount}}
            </div>
          </div>

          <div class="row row_element">
            <div class="col-md-2">
              Service Account
            </div>
            <div class="col-md-3">
              {{input value=serviceAccount}}
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
              Service Account Site
            </div>
            <div class="col-md-3">
              {{input value=serviceAccountSite}}
            </div>
          </div>
        </section>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="rf_performance">
      <div class="container">
        <!-- SECTION 3: RF PERFORMANCE -->
        <section class="row">
          <h2> RF Performance </h2>
          <div class="table-responsive">

            <table class="table table-responsive display" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th></th>
                  <th>RSSI</th>
                  <th>CNR</th>
                  <th>RSSI</th>
                  <th>CNR</th>
                  <th>Tx Power</th>
                  <th>Step Attenuator</th>
                  <th>Reserve Power</th>
              </thead>
              <tbody>
                <tr>
                  <td>Predicted</td>
                  <td><input type="number"></input></td>
                  <td><input type="number"></input></td>
                  <td><input type="number"></input></td>
                  <td><input type="number"></input></td>
                  <td><input type="number"></input></td>
                  <td><input type="number"></input></td>
                  <td><input type="number"></input></td>
                </tr>
                <tr>
                  <td>Commissioned</td>
                  <td><input type="number"></input></td>
                  <td><input type="number"></input></td>
                  <td><input type="number"></input></td>
                  <td><input type="number"></input></td>
                  <td><input type="number"></input></td>
                  <td><input type="number"></input></td>
                  <td><input type="number"></input></td>
                </tr>
                <tr class="success">
                  <td>Result</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>

        </section>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="modulation">
      <div class="container">
        <!-- SECTION 4: MODULATION -->
        <section class="row">
          <h2> Modulation </h2>

          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">DL MIN</div>
            <div class="col-md-2">DL MAX</div>
            <div class="col-md-2">UL MIN</div>
            <div class="col-md-2">UL MAX</div>
            <div class="col-md-1"></div>
          </div>

          <div class="row" id="predicted_modulation">
            <div class="col-md-1"></div>
            <div class="col-md-2">Predicted</div>
            <div class="col-md-2">
              <select>
                <option selected="selected"></option>
                <option value="4QAM2/3">4QAM2/3</option>
                <option value="4QAM">4QAM</option>
                <option value="16QAM">16QAM</option>
                <option value="64QAM">64QAM</option>
              </select>
            </div>
            <div class="col-md-2">
              <select>
                <option selected="selected"></option>
                <option value="4QAM2/3">4QAM2/3</option>
                <option value="4QAM">4QAM</option>
                <option value="16QAM">16QAM</option>
                <option value="64QAM">64QAM</option>
              </select>
            </div>
            <div class="col-md-2">
              <select>
                <option selected="selected"></option>
                <option value="4QAM2/3">4QAM2/3</option>
                <option value="4QAM">4QAM</option>
                <option value="16QAM">16QAM</option>
                <option value="64QAM">64QAM</option>
              </select>
            </div>
            <div class="col-md-2">
              <select>
                <option selected="selected"></option>
                <option value="4QAM2/3">4QAM2/3</option>
                <option value="4QAM">4QAM</option>
                <option value="16QAM">16QAM</option>
                <option value="64QAM">64QAM</option>
              </select>
            </div>
            <div class="col-md-1"></div>
          </div>

          <div class="row" id="configured_modulation">
            <div class="col-md-1"></div>
            <div class="col-md-2">Configured</div>
            <div class="col-md-2">
              <select>
                <option selected="selected"></option>
                <option value="4QAM2/3">4QAM2/3</option>
                <option value="4QAM">4QAM</option>
                <option value="16QAM">16QAM</option>
                <option value="64QAM">64QAM</option>
              </select>
            </div>
            <div class="col-md-2">
              <select>
                <option selected="selected"></option>
                <option value="4QAM2/3">4QAM2/3</option>
                <option value="4QAM">4QAM</option>
                <option value="16QAM">16QAM</option>
                <option value="64QAM">64QAM</option>
              </select>
            </div>
            <div class="col-md-2">
              <select>
                <option selected="selected"></option>
                <option value="4QAM2/3">4QAM2/3</option>
                <option value="4QAM">4QAM</option>
                <option value="16QAM">16QAM</option>
                <option value="64QAM">64QAM</option>
              </select>
            </div>
            <div class="col-md-2">
              <select>
                <option selected="selected"></option>
                <option value="4QAM2/3">4QAM2/3</option>
                <option value="4QAM">4QAM</option>
                <option value="16QAM">16QAM</option>
                <option value="64QAM">64QAM</option>
              </select>
            </div>
            <div class="col-md-1"></div>
          </div>

          <div class="col-md-2"></div>
        </section>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="physical_ports">
      <div class="container">
        <!-- SECTION 5: PHYSICAL PORTS -->
        <section class="row">
          <h2> Physical Ports </h2>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">VLAN Type</div>
            <div class="col-sm-2">Acceptable Frame Type</div>
            <div class="col-sm-2">Default VLAN</div>
            <div class="col-sm-2">VLANs</div>
          </div>

          <div class="row">
            <div class="col-sm-1">1</div>
            <div class="col-sm-2">
              <select>
                <option selected="selected"></option>
                <option value="Provider Port">Provider Port</option>
                <option value="VLAN Transparent">VLAN Transparent</option>
              </select>
            </div>
            <div class="col-sm-2">
              <select>
                <option selected="selected"></option>
                <option value="Tagged Only">Tagged Only</option>
                <option value="Untagged Only">Untagged Only</option>
                <option value="Tagged and Untagged">Tagged and Untagged</option>
              </select>
            </div>
            <div class="col-sm-2">
              <input type="text"></input>
            </div>
            <div class="col-sm-2">
              <input type="text"></input>
            </div>
          </div>
          <button type="button" class="btn btn-default js-add-port">Add Port</button>

        </section>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="service_fragments">
      <div class="container">
        <!-- SECTION 6: SERVICE FRAGMENTS -->
        <section class="row">
          <h2> Service Fragments </h2>

          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Work Order</div>
            <div class="col-sm-1">Mbps</div>
            <div class="col-sm-2">Type</div>
            <div class="col-sm-2">Physical Mode</div>
            <div class="col-sm-2">VLANS</div>
            <div class="col-sm-2">Linetag</div>
          </div>

          <div class="row">
            <div class="col-sm-1">1</div>
            <div class="col-sm-2">
              <input type="text"></input>
            </div>
            <div class="col-sm-1">
              <select>
                <option selected="selected"></option>
                <option value="0.25">0.25</option>
                <option value="0.5">0.5</option>
                <option value="0.75">0.75</option>
                <option value="1">1</option>
                <option value="1.5">1.5</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="18">18</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
              </select>
            </div>
            <div class="col-sm-2">
              <select>
                <option selected="selected"></option>
                <option value="Voice (rtPS)">Voice (rtPS)</option>
                <option value="Data 1:1 (nrtPS)">Data 1:1 (nrtPS)</option>
                <option value="Data 1:2 (BE Plus)">Data 1:2 (BE Plus)</option>
                <option value="Broadband (BE)">Broadband (BE)</option>
              </select>
            </div>
            <div class="col-sm-2">
              <select>
                <option selected="selected"></option>
                <option value="4QAM2/3">4QAM2/3</option>
                <option value="4QAM">4QAM</option>
                <option value="16QAM">16QAM</option>
                <option value="64QAM">64QAM</option>
              </select>
            </div>
            <div class="col-sm-2">
              <input type="text"></input>
            </div>
            <div class="col-sm-2">
              <input type="text"></input>
            </div>
          </div>
            <button type="button" class="btn btn-default js-add-fragment">Add Fragment</button>
        </section>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="notes">
      <div class="container">
        <!-- SECTION 7: NOTES -->
        <section class="row">
          <h2> Notes </h2>
          <div class="col-md-12">
            <textarea rows="10"></textarea>
          </div>
        </section>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="quality_assurance">
      <div class="container">
        <!-- SECTION 8: QUALITY ASSURANCE -->
        <section class="row">
          <h2> Quality Assurance </h2>
        </section>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="pictures">
      <div class="container">
        <!-- SECTION 9: PICTURES -->
        <section class="row">
          <h2> Pictures </h2>

          <section class="row">
            {{#each group in groupClassifications}}
              <h3>GROUP CLASSIFICATION: {{group.name}}</h3>
              {{#each subgroup in group.subGroupClassifications itemController="sub-group-classification"}}
                <h4>{{subgroup.name}}</h4>

                <section class="row">
                {{#each pictureSet in subgroup.subGroupPictureSets itemController="sub-group-picture-set"}}
                   <button {{action 'expand'}}>Album view</button>

                  <ul class="picture-set">
                  {{#each picture in pictureSet.album.pictures}}
                    {{debug_template}}
                    <li><img {{bind-attr src="picture.url"}}></li>
                  {{/each}}
                  </ul>
                {{/each}}
                </section>

                {{view "picture-uploader"}}
              {{/each}}
            {{/each}}
          </section>

        </section>
      </div>
    </div>
  </div>


</div>

{{outlet}}
