<div class="actions">
  {{#link-to 'client-link.edit'}}
    <span class="glyphicon glyphicon-pencil js-actions edit" aria-hidden="true"></span>
  {{/link-to}}
  {{#link-to 'client-link.audit'}}
    <span class="glyphicon glyphicon-list-alt js-actions audit" aria-hidden="true"></span>
  {{/link-to}}
</div>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#site_information" aria-controls="site_information" role="tab" data-toggle="tab">Site Information</a></li>
    <li role="presentation"><a href="#siebel" aria-controls="siebel" role="tab" data-toggle="tab">Siebel</a></li>
    <li role="presentation"><a href="#rf_performance" aria-controls="rf_performance" role="tab" data-toggle="tab">RF Performance</a></li>
    <li role="presentation"><a href="#modulation" aria-controls="modulation" role="tab" data-toggle="tab">Modulation</a></li>
    <li role="presentation"><a href="#physical_ports" aria-controls="physical_ports" role="tab" data-toggle="tab">Physical Ports</a></li>
    <li role="presentation"><a href="#service_fragments" aria-controls="service_fragments" role="tab" data-toggle="tab">Service Fragments</a></li>
    <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
    <li role="presentation"><a href="#quality_assurance" aria-controls="quality_assurance" role="tab" data-toggle="tab">Quality Assurance</a></li>
    <li role="presentation"><a href="#pictures" aria-controls="pictures" role="tab" data-toggle="tab">Pictures</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="site_information">
      <!-- SECTION 1: SITE INFORMATION -->
      {{partial "client-link/section/index/site-information"}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="siebel">
      <!-- SECTION 2: SIEBEL -->
      {{partial "client-link/section/index/siebel"}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="rf_performance">
      <!-- SECTION 3: RF PERFORMANCE -->
      {{partial "client-link/section/index/rf-performance"}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="modulation">
      <!-- SECTION 4: MODULATION -->
      {{partial "client-link/section/index/modulation"}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="physical_ports">
      <!-- SECTION 5: PHYSICAL PORTS -->
      {{partial "client-link/section/index/physical-ports"}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="service_fragments">
      <!-- SECTION 6: SERVICE FRAGMENTS -->
      {{partial "client-link/section/index/service-fragments"}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="notes">
       <!-- SECTION 7: NOTES -->
      {{partial "client-link/section/index/notes"}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="quality_assurance">
      <!-- SECTION 8: QUALITY ASSURANCE -->
      {{partial "client-link/section/index/quality-assurance"}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="pictures">
      <!-- SECTION 9: PICTURES -->
      {{partial "client-link/section/index/pictures"}}
    </div>
  </div>

</div>
{{outlet}}
