<div class="container">
  <section class="row">
  <h2>Service Fragment</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">Work Order #:</label>
      <div class="col-sm-9">
        {{input value=selectedWorkOrderNumber class="form-control"}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Line Speed (Mbps):</label>
      <div class="col-sm-9">
        {{view "select"
            content=lineSpeeds
            value=selectedLineSpeed
            prompt="Please Select"}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Service Type:</label>
      <div class="col-sm-9">
        {{view "select"
            content=serviceTypes
            value=selectedServiceType
            prompt="Please Select"}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Physical Mode:</label>
      <div class="col-sm-9">
        {{view "select"
            content=physicalModes
            value=selectedPhysicalMode
            prompt="Please Select"}}
      </div>
    </div>
  </form>
  <button type="button" class="btn btn-primary pull-right" {{action "saveServiceFragment"}}>Save</button>
  </section>
</div>
