<div class="container">
  <section class="row">
  <h2>Service Fragment</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Work Order #:</label>
      <div class="col-sm-10">
        {{input value=model.workOrderNumber class="form-control"}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Line Speed (Mbps):</label>
      <div class="col-sm-10">
        {{view "select"
          content=lineSpeeds
          value=model.lineSpeed
          prompt="Please Select"
          class="form-control"}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Service Type:</label>
      <div class="col-sm-10">
        {{view "select"
          content=serviceTypes
          value=model.serviceType
          prompt="Please Select"
          class="form-control"}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Physical Mode:</label>
      <div class="col-sm-10">
        {{view "select"
          content=physicalModes
          value=model.physicalMode
          prompt="Please Select"
          class="form-control"}}
      </div>
    </div>
  </form>
  <button type="button" class="btn btn-primary pull-right" {{action "updateServiceFragment"}}>Save</button>
  </section>
</div>
