<div class="container">
  <section class="row">
    <h2>Service Fragments</h2>
    <button type="button" class="btn btn-primary btn-sm pull-right" {{action "addServiceFragment"}}>Add Service Fragment</button>
    {{#if addServiceFragment}}
      {{partial "client-link/new/service-fragment"}}
    {{/if}}
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Work Order #</th>
          <th>Line Speed (Mbps)</th>
          <th>Service Type</th>
          <th>Physical Mode</th>
        </tr>
      </thead>
    {{#each serviceFragment in model.serviceFragments}}
      <tbody>
        <tr>
          <td><span class="glyphicon glyphicon-remove-sign delete" aria-hidden="true" {{action "removeServiceFragment" serviceFragment}}></span></td>
          <td>{{input value=serviceFragment.workOrderNumber}}</td>
          <td>{{view "select"
                content=lineSpeeds
                value=serviceFragment.lineSpeed
                prompt="Please Select"}}</td>
          <td>{{view "select"
                content=serviceTypes
                value=serviceFragment.serviceType
                prompt="Please Select"}}</td>
          <td>{{view "select"
                content=physicalModes
                value=serviceFragment.physicalMode
                prompt="Please Select"}}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm pull-right" {{action "addService" serviceFragment}}>Add Service</button>
          </td>
          <div class="">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>Line Tag</th>
                  <th>Line Speed (Mbps)</th>
                  <th>VLAN</th>
                </tr>
              </thead>
              <tbody>
                {{#each service in serviceFragment.services}}
                  <tr>
                    <td>
                      <span class="glyphicon glyphicon-remove-sign delete" aria-hidden="true" {{action "removeService" serviceFragment service}} ></span>
                    </td>
                    <td>{{input value=service.linetag}}</td>
                    <td>{{view "select"
                          content=lineSpeeds
                          value=service.lineSpeed
                          prompt="Please Select"}}</td>
                    <td>
                      {{#each vlan in service.vlans}}
                        {{input value=vlan}}
                      {{/each}}
                      <span class="glyphicon glyphicon glyphicon-plus-sign js-actions add" aria-hidden="true" {{action "addVLAN" serviceFragment}} ></span>
                    </td>


                  </tr>
                {{/each}}
                {{#if serviceFragment.addService}}
                  {{partial "client-link/new/service"}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </tr>
      </tbody>
    {{/each}}
    </table>
  </section>
</div>
