<div class="container">
  <section class="row">
    <h2>Site Information</h2>
    <div class="row row_element">
      <div class="col-md-2">
        Client
      </div>
      <div class="col-md-3">
        {{view "select"
                contentBinding="clients"
                optionValuePath="content"
                optionLabelPath="content.name"
                selectionBinding="client.content"
                prompt="Please Select"
              }}
      </div>
      <div class="col-md-2"></div>

      <div class="col-md-2">
        Branch Name
      </div>
      <div class="col-md-3">
        {{input value=branch}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Status
      </div>
      <div class="col-md-3">
        {{view "select"
                contentBinding="statuses"
                optionValuePath="content"
                optionLabelPath="content.name"
                selectionBinding="status.content"
                prompt="Please Select"
              }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Circuit Number
      </div>
      <div class="col-md-3">
        {{input value=circuitNumber}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Network Operator
      </div>
      <div class="col-md-3">
        {{view "select"
                contentBinding="networkOperators"
                optionValuePath="content"
                optionLabelPath="content.name"
                selectionBinding="networkOperator.content"
                prompt="Please Select"
              }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        MSAD Number
      </div>
      <div class="col-md-3">
        {{input value=msadNumber}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Link Type
      </div>
      <div class="col-md-3">
        {{view "select"
                contentBinding="linkTypes"
                optionValuePath="content"
                optionLabelPath="content.name"
                selectionBinding="linkType.content"
                prompt="Please Select"
              }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Activation Date
      </div>
      <div class="col-md-3">
        <!-- make a calendar popup -->
        {{input value=activationDate}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Sector Name
      </div>
      <div class="col-md-3">
        {{view "select"
                contentBinding="baseStationSectors"
                optionValuePath="content"
                optionLabelPath="content.name"
                selectionBinding="baseStationSector.content"
                prompt="Please Select"
              }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Mac Address
      </div>
      <div class="col-md-3">
        {{input value=macAddress}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        Antenna Size
      </div>
      <div class="col-md-3">
        {{view "select"
                contentBinding="antennas"
                optionValuePath="content"
                optionLabelPath="content.size"
                selectionBinding="antenna.content"
                prompt="Please Select"
              }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Distance
      </div>
      <div class="col-md-3">
        {{input value=distance}}
      </div>
    </div>
  </section>
</div>
