<div class="container">
  <section class="row">
    <h2> RF Performance </h2>

    {{#if radio.rfPerformanceParameters.length}}
      <div class="table-responsive" cellspacing="0" width="100%">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>UL RSSI</th>
              <th>DL RSSI</th>
              <th>UL CNR</th>
              <th>DL CNR</th>
              <th>TX Power</th>
              <th>Step Attenuator</th>
            </tr>
          </thead>
          <tbody>
            {{#each parameter in radio.rfPerformanceParameters itemController="rf-performance-parameter/index"}}
              <tr>
                <td>{{parameter.rfResultSet}}</td>
                <td>{{parameter.uplinkRssi}}</td>
                <td>{{parameter.downlinkRssi}}</td>
                <td>{{parameter.uplinkCnr}}</td>
                <td>{{parameter.downlinkCnr}}</td>
                <td>{{parameter.txPower}}</td>
                <td>{{parameter.stepAttenuator}}</td>
                <td>
                  {{#link-to 'rf-performance-parameter.edit' parameter.id}}
                    <span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span>
                  {{/link-to}}
                </td>
                <td>
                  <span class="glyphicon glyphicon-trash pull-right" aria-hidden="true" {{action 'deleteRFPerformance' parameter.id}} ></span>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

    {{else}}
    {{alert-message alertType="alert-warning" message="There's no RF performance parameters configured on this Client Link." }}
    {{/if}}

    {{#link-to 'client-link.rf-performance-parameters.new'}}
    <button type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Add RF Performance Parameters</button>
    {{/link-to}}
  </section>
</div>
