<div class="container">
  <section class="row">
    <h2> Pictures </h2>

    {{#each group in groupClassifications}}
      <div class="well">
        <div class="row-fluid">
          <ul class="thumbnails">

              <h3><u>{{group.name}}</u></h3>

              {{#each subgroup in group.subGroupClassifications itemController="sub-group-classification"}}

                <li class="span4">
                  <div class="thumbnail searchthumb">
                    <h4>{{subgroup.model.name}}</h4>
                    {{view "picture-uploader"}}

                    {{#if subgroup.albums}}
                      {{#each pictureSet in subgroup.albums itemController="album"}}

                        <div>
                          The album has {{pictureSet.count}} picture(s)
                          <span class="glyphicon glyphicon-resize-full pull-right" aria-hidden="true" {{action 'expandAlbum' pictureSet }}></span>
                        </div>

                          <img {{bind-attr src="pictureSet.pic.url"}}>
                      {{/each}}

                    {{else}}
                        <img src="http://budapesttimes.hu/wp-content/themes/newsroom14/img/placeholder.png">
                    {{/if}}
                  </div>
                </li>

              {{/each}}

          </ul>
        </div>
      </div>
    {{/each}}

  </section>
</div>
