<div class="container">
  <section class="row">
    <h2>RF Performance</h2>
    <form class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
          {{input value=rfResultSet lass="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">UL RSSI</label>
        <div class="col-sm-9">
          {{input value=uplinkRssi class="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">DL RSSI</label>
        <div class="col-sm-9">
          {{input value=downlinkRssi class="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">UL CNR:</label>
        <div class="col-sm-9">
          {{input value=uplinkCnr class="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">DL CNR:</label>
        <div class="col-sm-9">
          {{input value=downlinkCnr class="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">TX Power:</label>
        <div class="col-sm-9">
          {{input value=txPower class="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Step Attenuator:</label>
        <div class="col-sm-9">
          {{input value=stepAttenuator class="form-control"}}
        </div>
      </div>

    </form>
    <button type="button" class="btn btn-primary pull-right" {{action "updateRFPerformance"}}>Save</button>
  </section>
</div>

