<h1>New port</h1>
<tr>
  <td>
    {{view "select"
      content=vlanTypes
      value=newVlanType
      prompt="Please Select"}}
  </td>
  <td>
    {{view "select"
    content=acceptableFrameTypes
    value=newAcceptableFrameType
    prompt="Please Select"}}
  </td>
  <td>{{view "select"
        content=serviceFragments
        optionValuePath="content.services"
        optionLabelPath="content.services"
        prompt="Please Select"}}</td>
  <td>{{input value=newVlan}}</td>
  <td>
  </td>
</tr>
<button type="button" class="btn btn-primary btn-sm pull-right" {{action "savePort"}}>Save</button>
