<h4>New service fragment</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Work Order #</th>
      <th>Line Speed (Mbps)</th>
      <th>Service Type</th>
      <th>Physical Mode</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{input value=newWorkOrderNumber}}</td>
      <td>{{view "select"
            content=lineSpeeds
            value=newLineSpeed
            prompt="Please Select"}}</td>
      <td>{{view "select"
            content=serviceTypes
            value=newServiceType
            prompt="Please Select"}}</td>
      <td>{{view "select"
            content=physicalModes
            value=newPhysicalMode
            prompt="Please Select"}}</td>
      <td>
      <td><button type="button" class="btn btn-primary btn-sm pull-right" {{action "saveServiceFragment"}}>Save</button></td>
    </tr>
  </tbody>
</table>
