<div class="container">
<section class="row">
  <h2>Service Fragments</h2>
  {{#each serviceFragment in model.serviceFragments}}
  <table class="table table-hover table-striped table-bordered table-fragments">
    <thead>
      <tr class="dark-header">
        <th></th>
        <th>Work Order #</th>
        <th>Line Speed</th>
        <th>Type</th>
        <th>Physical Mode</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>{{serviceFragment.workOrderNumber}}</td>
        <td>{{serviceFragment.lineSpeed}} Mbps</td>
        <td>{{serviceFragment.serviceType}}</td>
        <td>{{serviceFragment.physicalMode}}</td>
      </tr>
      <tr><td colspan=5 class="center dark-header"><b>Linetags</b></td></tr>
      <tr>
        <th></th>
        <th>Line Tag</th>
        <th>Line Speed</th>
        <th colspan=2>VLANs</th>
      </tr>
      {{#each service in serviceFragment.services}}
      <tr>
        <td></td>
        <td>{{service.linetag}}</td>
        <td>{{service.lineSpeed}} Mbps</td>
        <td colspan=2>{{service.vlansString}}</td>
      </tr>
      {{/each}}
    </tbody>
   </table>
  {{/each}}
</section>
</div>
