<div class="container">
  <section class="row">
    <h2> Physical Ports </h2>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>VLAN Type</th>
          <th>Acceptable Frame Type</th>
          <th>Default VLAN</th>
          <th>VLANs</th>
        </tr>
      </thead>
      <tbody>
      {{#each serviceFragment in model.serviceFragments}}
        {{#each service in serviceFragment.services}}
          {{#each port in service.ports}}
            <tr>
              <td>
                {{view "select"
                content=vlanTypes
                value=port.vlanType
                prompt="Please Select"}}
              </td>
              <td>
                {{view "select"
                content=acceptableFrameTypes
                value=port.acceptableFrameType
                prompt="Please Select"}}
              </td>
              <td>
                {{view "select"
                content=defaultVlans
                value=port.defaultVlan
                prompt="Please Select"}}
              </td>
              <td>VLANS</td>
              <td><span class="glyphicon glyphicon-trash js-actions delete" aria-hidden="true" {{action "removePort" service port}} ></span></td>
            </tr>
          {{/each}}
          {{service.vlan}}
        {{/each}}
      {{/each}}
      </tbody>
    </table>
  </section>
</div>
