<div class="container">
  <section class="row">
    <h2>Service Fragments</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Work Order #</th>
          <th>Line Speed (Mbps)</th>
          <th>Type</th>
          <th>Physical Mode</th>
        </tr>
      </thead>
    {{#each serviceFragment in model.serviceFragments}}
      <tbody>
        <tr>
          <td>{{input value=serviceFragment.workOrderNumber}}</td>
          <td>{{view "select"}}</td>
          <td>{{view "select"}}</td>
          <td>{{view "select"}}</td>
          <div class="">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Line Tag</th>
                  <th>Line Speed (Mbps)</th>
                  <th>VLAN</th>
                </tr>
              </thead>
              <tbody>
                {{#each service in serviceFragment.services}}
                  <tr>
                    <td>{{input value=service.linetag}}</td>
                    <td>{{view "select"}}</td>
                    <td>{{input value=service.vlan}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </tr>
      </tbody>
    {{/each}}
    </table>
  </section>
</div>
