<div class="container">
  <section class="row">
    <h2>Service Fragments</h2>

    {{#each serviceFragment in model.serviceFragments}}
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Work Order #</th>
          <th>Line Speed (Mbps)</th>
          <th>Type</th>
          <th>Physical Mode</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{serviceFragment.workOrderNumber}}</td>
          <td>{{serviceFragment.lineSpeed}}</td>
          <td>{{serviceFragment.serviceType}}</td>
          <td>{{serviceFragment.physicalMode}}</td>
        </tr>
        <tr>
          <thead>
            <tr>
              <th>Line Tag</th>
              <th>Line Speed (Mbps)</th>
              <th>VLAN</th>
            </tr>
          </thead>
          <tbody>
            {{#each service in serviceFragment.services}}
              <tr>
                <td>{{service.linetag}}</td>
                <td>{{service.lineSpeed}}</td>
                <td>{{service.vlan}}</td>
              </tr>
            {{/each}}
          </tbody>
        </tr>
      </tbody>
    </table>
    {{/each}}

  </section>
</div>
