<div {{bind-attr class=" invite_error::hidden :alert :alert-danger"}}>
  <p><strong>Error!</strong> {{error}}</p>
</div>
<form class="form-horizontal c-newauthz">
  <div class="form-group">
    <label for="user-email" class="col-md-2 control-label">Email</label>
    <div class="col-md-10 control">
      {{input id="user-email" placeholder="Email address" class="form-control c-newauthz__email" type="email" value=model.email }}
    </div>
  </div>
  <div class="form-group">
    <label for="user-name" class="col-md-2 control-label">Name</label>
    <div class="col-md-10 control">
      {{input id="user-name" placeholder="Name" class="form-control c-newauthz__name" value=model.name }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button class="btn btn-default c-newauthz__addbutton" {{ action 'sendInvite' }}>Invite</button>
    </div>
  </div>
</form>
