<h2 class="sub-header">
  Client Links
  {{#link-to "client-links.new" class="btn btn-default btn-xs js-new-client-link" role="button"}}
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  Add Client Link
  {{/link-to}}
</h2>
<br>
{{#data-table}}
  <table class="table table-striped display js-client-links-table" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Title</th>
        <th>MSAD Number</th>
        <th>Solution ID</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {{#each clientLink in model}}
      <tr {{action "viewClientLink" clientLink}}>
        <td>{{clientLink.name}}</td>
        <td>{{clientLink.msadNumber}}</td>
        <td>{{clientLink.solutionIdentifier}}</td>
        <td>{{clientLink.status.name}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{/data-table}}
