<h1>New Client Link</h1>
<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a aria-controls="overview" role="" data-toggle="">Overview</a></li>
    <li role="presentation" class="disabled" {{action 'showWarning'}}><a aria-controls="rf_performance" role="" data-toggle="">RF Performance</a></li>
    <li role="presentation" class="disabled" {{action 'showWarning'}}><a aria-controls="modulation" role="" data-toggle="">Modulation</a></li>
    <li role="presentation" class="disabled" {{action 'showWarning'}}><a aria-controls="service_fragments" role="" data-toggle="">Service Fragments</a></li>
    <li role="presentation" class="disabled" {{action 'showWarning'}}><a aria-controls="physical_ports" role="" data-toggle="">Client Side Ports</a></li>
    <li role="presentation" class="disabled" {{action 'showWarning'}}><a aria-controls="notes" role="" data-toggle="">Notes</a></li>
    <li role="presentation" class="disabled" {{action 'showWarning'}}><a aria-controls="quality_assurance" role="" data-toggle="">Quality Assurance</a></li>
    <li role="presentation" class="disabled" {{action 'showWarning'}}><a aria-controls="pictures" role="" data-toggle="">Pictures</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="overview">
      {{partial "client-link/overview/edit"}}
    </div>
  </div>
</div>
