<h1>Core Nodes</h1>
<div class="row">
  <div class="col-md-3">
    <div class="well well-sm">
      <h4>Filter by Status</h4>
      <div class="status-option">
        {{input type="checkbox" checked=filterDecommissioned class="toggle"}}
        <a id="decommissioned-option" {{action "toggleDecommissioned" }}>Decommissioned</a>
      </div>
      <div class="status-option">
        {{input type="checkbox" checked=filterOperational class="toggle"}}
        <a id="operational-option" {{action "toggleOperational" }}>Operational</a>
      </div>
      <div class="status-option">
        {{input type="checkbox" checked=filterCommissioning class="toggle"}}
        <a id="commissioning-option" {{action "toggleCommissioning" }}>Commissioning</a>
      </div>
      <div class="status-option">
        {{input type="checkbox" checked=filterClientLinks class="toggle"}}
        <a id="commissioning-option" {{action "toggleCommissioning" }}>Client Links</a>
      </div>
    </div>

  </div>
  <div class="col-md-9">
    {{google-map nodes=model filters=filterCollection}}
  </div>
</div>
